#ruta2 {
  grid-area: ruta2;
  border-bottom: solid;
}

.bildcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12%;
}

.priscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5%;
}

.pristext {
  position: relative;
  top: 10%;
  font-size: 40px;
  font-weight: bold;
  margin-left: 2%;
  display: inline;
}

.lagerstatustext {
  position: relative;
  display: inline-block;
  font-size: 20px;
  margin-left: 5%;
}

#bild1 {
  grid-area: bild1;
}

#pris1 {
  width: 300px;
  height: 50px;
  background-color: black;
  color: white;
  grid-area: pris1;
}

#bild2 {
  grid-area: bild2;
  margin-left: 5%;
}

#pris2 {
  width: 300px;
  height: 50px;
  margin-left: 5%;
  background-color: black;
  color: white;
  grid-area: pris2;
}

#bild3 {
  grid-area: bild3;
  margin-left: 5%;
}

#pris3 {
  width: 300px;
  height: 50px;
  background-color: black;
  margin-left: 5%;
  color: white;
  grid-area: pris3;
}

#ruta3 {
  grid-area: ruta3;
}

.ruta3container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12%;
}

.kampanjcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5%;
}

.kampanjtext {
  position: relative;
  top: 10%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  display: inline;
}

#kampanj1 {
  width: 300px;
  height: 110px;
  background-color: black;
  color: white;
  justify-content: center;
  display: flex;
}

#kampanjbild2 {
  margin-left: 5%;
}

#kampanj2 {
  width: 300px;
  height: 110px;
  background-color: black;
  margin-left: 5%;
  color: white;
  justify-content: center;
  display: flex;
}

#kampanjbild3 {
  margin-left: 5%;
}

#kampanj3 {
  width: 300px;
  height: 110px;
  background-color: black;
  margin-left: 5%;
  color: white;
  justify-content: center;
  display: flex;
}

footer {
  grid-area: footer;
}

#footercontainer {
  margin-top: 2.5%;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
#instagram {
  width: 50px;
  height: 50px;
  background: url("../img/css_sprites.png") -10px -10px;
}

#twitter {
  width: 50px;
  height: 50px;
  background: url("../img/css_sprites.png") -80px -10px;
}
