html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  padding: 0px;
  height: 300vh;
}

header {
  background-color: bisque;
  height: 10%;
  width: 100%;
  position: fixed;
  z-index: 99;
}

#sidtitel {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  font-family: "Abel";
}

nav {
  background-color: white;
  position: fixed;
  top: 10%;
  height: 7%;
  width: 100%;
  z-index: 99;
}
#navcontainer {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.navtext {
  font-size: 20px;
  border: solid;

  background-color: white;
  padding: 5px;
  border-radius: 10px;
  margin-top: 0.75%;
}
main {
  grid-area: main;
}

#ruta2 {
  grid-area: ruta2;
  border-bottom: solid;
}

.bildcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12%;
}

.priscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5%;
}

.pristext {
  position: relative;
  top: 10%;
  font-size: 40px;
  font-weight: bold;
  margin-left: 2%;
  display: inline;
}

.lagerstatustext {
  position: relative;
  display: inline-block;
  font-size: 20px;
  margin-left: 5%;
}

#kebabbild {
  order: 1;
}

#pris1 {
  width: 300px;
  height: 50px;
  background-color: black;
  color: wheat;
}

#kebabbild2 {
  order: 2;
  margin-left: 5%;
}

#pris2 {
  width: 300px;
  height: 50px;
  background-color: black;
  margin-left: 5%;
  color: wheat;
}

#kebabbild3 {
  order: 3;
  margin-left: 5%;
}

#pris3 {
  width: 300px;
  height: 50px;
  background-color: black;
  margin-left: 5%;
  color: wheat;
}

#ruta3 {
  grid-area: ruta3;
}

.ruta3container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12%;
}

.kampanjcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5%;
}

.kampanjtext {
  position: relative;
  top: 10%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  display: inline;
}

#kampanj1 {
  width: 300px;
  height: 110px;
  background-color: black;
  color: wheat;
  justify-content: center;
  display: flex;
}

#kampanjbild2 {
  margin-left: 5%;
}

#kampanj2 {
  width: 300px;
  height: 110px;
  background-color: black;
  margin-left: 5%;
  color: wheat;
  justify-content: center;
  display: flex;
}

#kampanjbild3 {
  margin-left: 5%;
}

#kampanj3 {
  width: 300px;
  height: 110px;
  background-color: black;
  margin-left: 5%;
  color: wheat;
  justify-content: center;
  display: flex;
}

footer {
  grid-area: footer;
  background-color: aqua;
}

#wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 3% 2% 30% 30% 30% 5%;
  grid-template-areas:
    "- - - - - -"
    "- - - - - -"
    "main main main main main main"
    "ruta2 ruta2 ruta2 ruta2 ruta2 ruta2"
    "ruta3 ruta3 ruta3 ruta3 ruta3 ruta3"
    "footer footer footer footer footer footer";
}
